html,
body {
    position: relative;
    min-height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    /*-ms-flex-align: center;*/
    /*align-items: center;*/
    padding-top: 5rem;
    padding-bottom: 5rem;
    /*background-color: #f5f5f5;*/
    margin-bottom: 4rem; /* Margin bottom by footer height */
}

.fixed-top {
    position: absolute!important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem; /* Set the fixed height of the footer here */
    line-height: 1rem; /* Vertically center the text there */
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
}

#min320 br{
    display:block;
}

div .no-padding {
    padding: 0;
}

/* Login Page */
.login div {
    text-align: center;
}

.form-signin {
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-bottom: 5px;
}

.form-signin input[type="email"] {
    margin-bottom: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.login-footer {
    text-align: center;
}


/* Preferences */
.progess-text {
    text-align: center;
}

.preference-header {
    margin-bottom: 1rem;
}

.light-bottom-border {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
}

.preference-form h4 {
    font-size: 1.3rem;
}

.preferences-notification-form {
    margin-bottom: 2rem;
}

.preferences-likelihood-form {
    margin-bottom: 2rem;
}

.continue-button {
    margin-bottom: 1rem;
    text-align: center;
}
